/* big table to 1200px (width smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {
  .hero-text-box {
    width: 100%;
    padding: 2%;
  }
  .row {
    padding: 0 2%;
  }
}

/* small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }
  section {
    padding: 60px 0;
  }
  .long-copy {
    width: 80%;
    margin-left: 10%;
  }
  .step-box {
    margin-top: 0;
  }
  .step-box:last-child {
    margin-top: 10px;
  }
  .work-step {
    margin-bottom: 40px;
  }
  .work-step:last-of-type {
    margin-bottom: 80px;
  }
  .app-screen {
    width: 60%;
  }
  .app-btn img {
    /* background-color: red; */
    margin-right: 0px;
  }
  .icon-small {
    width: 18px;
  }
  .plan-box {
    width: 100%;
    margin-left: 0%;
  }
  .plan-box ul li {
    width: 90%;
    margin: 0;
  }
  .plan-price {
    font-size: 250%;
  }
  .contact-form {
    width: 80%;
  }
}
/* small phone to small tablet: from 481px to 767px */
@media only screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }
  section {
    padding: 30px 0;
    /* background-color: red; */
  }
  .row,
  .hero-text-box {
    padding: 0 4%;
  }
  .col {
    width: 100%;
    margin: 0 0 4% 0;
  }

  /* .main-nav { display: none;} */

  .mobile-nav-icon {display: inline-block;}

  .main-nav {
    float: right;
    margin-top: 25px;
    margin-right: 25px;
  }
  .main-nav {
    display: none;
  }
  .main-nav li {
    display: block;
  }
  .main-nav li a:link,
  .main-nav li a:visited {
    display: block;
    border: 0;
    padding: 5px 0;
  }
  .long-copy {
    width: 100%;
    margin-left: 0%;
  }
  h1 {
    font-size: 180%;
  }
  h2 {
    font-size: 150%;
  }

  .work-step {
    margin-bottom: 40px;
  }
  .work-step:last-of-type {
    margin-bottom: 40px;
  }

  .step-box:first-child {
    text-align: center;
  }

  .work-step div {
    height: 40px;
    width: 40px;
    padding: 4px;
    margin-right: 15px;
    font-size: 120%;
  }
  .app-screen {
    width: 40%;
  }
}

/* small phone: from 0 to 480px */
@media only screen and (max-width: 480px) {
  section {
    padding: 25px 0;
  }
  .contact-form {
    width: 100%;
  }
}
